@font-face {
    font-family: KaushanScript;
    src: url(../public/KaushanScript-Regular.otf);
  }

.footer {
    text-align: center;
    background: linear-gradient(
        180deg,
        rgb(0, 0, 0) 0%,
        rgba(15, 23, 37, 1) 100%
      );
    color: white;
    padding: 2rem 0;
}

.heading {
    padding-bottom: 1rem;
    font-family: KaushanScript;
    font-size: 1.6rem;
    font-weight: 100;
}

.contributors {
    display: flex;
    padding: 2rem 5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 1.2rem;
}

.role {
    padding-top: 3px;
    font-size: 1rem; 
    color: #bbbcbe;
}

.email {
    color: #bbbcbe;
    padding-top: 15px;
    font-style: italic;
}