.hero {
    background: linear-gradient(180deg, #1f212c 0%, #1f2232 100%);
    /* min-height: 100vh; */
    padding: 40px 175px;
    padding-bottom: 150px;
    display: block;
    height: 100vh;
  }

.heading {
    color: white;
    font-size: 3rem;
    margin: 0%;
    font-weight: 500;
    color: #eceded;
    margin-bottom: 50px;
  }

  .articleCard {
    display: flex;
    height: 60vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }

  .article {
    background: linear-gradient(
        135deg,
        rgba(7, 12, 17, 1) 0%,
        #0d1b2e 100%
      );
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
}

.articleHeading {
    font-size: 210%;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
}

.articleParagraph {
    font-size: 110%;
}

.image {
    width: 50%;
    background-color: #eceded;
    overflow: hidden;
}

.imageElement{
  position: relative;
  bottom: 50px;
  width: 100%;
}