.loginButton {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 9px;
  border-color: white;
  border-style: solid;
  outline: none;
  align-self: right;
  text-align: right;
  cursor: pointer;
}
.walletIcon {
  width: 40px;
  margin-top: 5px;
}
