.Navbar {
  padding: 20px 175px;
  background-color: #1f212c;
  scroll-snap-type: y mandatory;
}

.Navbar hr {
  border-color: #3a3c45;
  border-width: 1px;
  border-style: solid;
}

.container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  gap: 60px;
}

.icon {
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  width: 40px;
  height: 40px;
}

.iconActive {
  padding: 10px;
  background-color: inherit;
  color: white;
  border-radius: 4px;
  width: 40px;
  height: 40px;
}

.line {
  width: 112px;
  height: 47px;
  border-bottom: 1px solid black;
  position: absolute;
}

.loginState {
  position: absolute;
  left: calc(100% - 200px);
  top: 15px;
}
