@font-face {
    font-family: KaushanScript;
    src: url(../public/KaushanScript-Regular.otf);
  }

  
.second {
    height: 105vh;
    background-image: url("../public/newspaper.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    color: white;
}

.heading {
    font-family: KaushanScript;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    padding: 0 25rem;
}
.author {
    padding-left: 65%;
    font-size: 1.3rem;
}